<h1 style="margin-bottom: 20px">Angular-xeditable Starter Template</h1>
<div ng-controller="Ctrl">
  <!-- editable element -->
  <a href="#" editable-textarea="user.name" e-rows="7" e-cols="40" id="textContainer" onaftersave="updateDatabase()">
    <pre>{{ user.name || 'empty' }}</pre>
  </a>
  <div id="debug" style="margin-top: 30px">
  {{ user | json }}
  </div>
</div>