<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<%include masterHeader.ejs%>
	<!-- Editable Text Area Script -->
 	<%include ../TestMenu/EditableTextArea/script.ejs%>
	<!-- Responsive Table Script -->
 	<%include ../TestMenu/ResponsiveTable/script.ejs%>
</head>

<body>
	<%include masterTemplate.ejs%>
	
	<!-- TEMPLATING -->	
	<template id="home">
		<%include ../Home/home.ejs%>
	</template>
	
	<template id="MER">
		<%include ../Correspondence/MER/MER.ejs%>
	</template>
	
	<template id="EWN">
		<%include ../Correspondence/EWN/EWN.ejs%>
	</template>

	<template id="FS">
		<%include ../Correspondence/FS/FS.ejs%>
	</template>

	<template id="Master">
		<%include ../Correspondence/Master/Master.ejs%>
	</template>

	<template id="PhotoGallery">
		<%include ../PhotoGallery/PhotoGallery.ejs%>
	</template>

	<template id="UnderConstruction">
		<%include ../SiteAdministration/UnderConstraction.ejs%>
	</template>
	
	<template id="editableTextArea">
		<%include ../TestMenu/EditableTextArea/editableTextArea.ejs%>
	</template>
	
	<template id="responsiveTable">
		<%include ../TestMenu/ResponsiveTable/responsiveTable.ejs%>
	</template>
	
    <script>
		window.onload = changeTemplate();
    </script>
    
</body>

</html>