    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
		
    <title>Train PJ Portal</title>
	
	<!-- Bootstrap Core CSS -->
    <link href="/routes/javascript/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
     <link href="/routes/javascript/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
 
    <!-- Timeline CSS -->
    <link href="/routes/javascript/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/routes/javascript/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/routes/javascript/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/routes/javascript/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!--jQuery 1.11.2 -->
	<script src="/routes/javascript/js/jquery-1.11.2.js" />
	
	