<h1 style="margin-bottom: 20px">Angular-xeditable Starter Template</h1>

  <script>
  	app.value('name', '<%=user.name%>').value('employeeNumber', '<%=user.employeeNumber%>').
		value('birthday', '<%=user.birthday%>').value('hasWorkExperience', '<%=user.hasWorkExperience%>');
  </script>
  
<div ng-app="app" ng-controller="Ctrl" >
  <!-- String Data Type -->
  <h2>Data Type : String</h2>
  <a href="#" editable-textarea="user.name" e-rows="7" e-cols="40" onaftersave="updateName()">
    <pre>{{user.name || 'empty' }}</pre> <!-- displayed UserName -->
  </a>
  
  <br />
  <!-- Number Data Type -->
  <h2>Data Type : Number</h2>
  <a href="#" editable-text="user.employeeNumber" e-rows="7" e-cols="5" onaftersave="updateEmpNo()">
    <pre>{{user.employeeNumber || 'empty' }}</pre>
  </a>
  
  <br />
  
  <!-- Date Data Type -->
  <h2>Data Type : Date</h2>
  <a href="#" editable-bsdate="user.birthday" e-datepicker-popup="dd-MMMM-yyyy" onaftersave="updateBirthday()">
    {{ (user.birthday | date:"yyyy/MM/dd") || 'empty' }}
  </a>
  
  <br />
  
  <!-- Boolean Data Type -->
  <h2>Data Type : Boolean</h2>
  <a href="#" editable-checkbox="user.hasWorkExperience" e-title="Do you have work experience?" onaftersave="updateWorkExperience()">
    {{ user.hasWorkExperience && "Have work experience"  || "Fresh graduate" }}
  </a>
  
  <br />
  <br />
</div>